/* Style the tab */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
.tab-buttons {
  text-align: left;
  padding: 0px 20px;
  overflow: hidden;
  border: 1px solid #272522;
  background-color:  #23211F;
  box-shadow: 2px 2px #1a1817;

}

.tab {
    padding: 6px 20px;
    overflow: hidden;
    border: 1px solid #272522;
    background-color:  #23211F;
    box-shadow: 2px 2px #1a1817;
  }
  
  /* Style the buttons inside the tab */
  .tab-buttons button {
    font-family: "Poppins", sans-serif;
    border: 3px solid #23211F;
    color: #23211F ;
    background-color: #82f60f;
    box-shadow: 2px 2px #1a1817;
    border-top-right-radius: 30px;
    border-top-left-radius: 3px;
    outline: none; 
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab-buttons button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab-buttons button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 5px solid #272522;
    box-shadow: 2px 2px #1a1817;
    border-radius: 5px;
    border-top: none;
  }